<section class="features-section">
    <div class="container features-container">
      <h2 class="section-title">Product was Built Specifically for You</h2>
      <ul class="features-list">
        <li class="features-item">
          <img
            src="./img/icon-1.png"
            alt="icon 1"
            class="features-icon"
          />
          <div class="features-body">
            <h3 class="features-title">First click tests</h3>
            <p class="features-text">
              While most people enjoy casino gambling,
            </p>
          </div>
        </li>

        <li class="features-item">
          <img
            src="./img/icon-2.png"
            alt="icon 2"
            class="features-icon"
          />
          <div class="features-body">
            <h3 class="features-title">Design surveys</h3>
            <p class="features-text">
              Sports betting, lottery and bingo playing for the fun
            </p>
          </div>
        </li>

        <li class="features-item">
          <img
            src="./img/icon-3.png"
            alt="icon 3"
            class="features-icon"
          />
          <div class="features-body">
            <h3 class="features-title">Preference tests</h3>
            <p class="features-text">
              The Myspace page defines the individual.
            </p>
          </div>
        </li>

        <li class="features-item">
          <img
            src="./img/icon-4.png"
            alt="icon 4"
            class="features-icon"
          />
          <div class="features-body">
            <h3 class="features-title">Five second tests</h3>
            <p class="features-text">
              Personal choices and the overall personality of the person.
            </p>
          </div>
        </li>
      </ul>

      <div class="features-cta">
        <button class="btn btn-primary">Sign up now</button>
      </div>
    </div>
  </section>

