<section class="hero-section">
    <div class="container hero-container">
      <div class="hero-content">
        <figure class="hero-figure">
          <img src="./img/hero-img.png" alt="hero" class="hero-img" />
        </figure>
        <h1 class="hero-title">Work at the speed of thought</h1>
        <p class="hero-text">
          Tools, tutorials, design and innovation experts, all in one place!
          The most intuitive way to imagine your next user experience.
        </p>
        <ul class="hero-actions">
          <li class="hero-action">
            <button type="button" class="btn btn-primary mobile">
              Get started
            </button>
          </li>
          <li class="hero-action">
            <button type="button" class="btn btn-secondary play">
              <svg class="btn-play" width="20" height="17">
                <use href="./icons/icons-sprite.svg#icon-play"></use>
              </svg>
              Watch the Video
            </button>
          </li>
        </ul>
      </div>
    </div>
  </section>
