.header {
}

.header-container {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  /* margin-right: 237px; */
  margin: 17px 0 17px 32px;
}
.burger-btn {
  margin-left: auto;
  margin-right: 27px;
}
.burger-icon {
  stroke-width: 3px;
  stroke: #173a56;
}
.logo-img {
}
.logo-text {
  margin-left: 16px;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}
.nav {
  display: flex;
  margin-right: 73px;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-item {
  padding: 26px 0;
}
.nav-link {
  padding: 26px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}
.product {
  font-weight: 600;
}
.auth {
  display: flex;
  gap: 21px;
}
.auth-item {
}
.btn {
  border-radius: 4px;
  width: 113px;
  height: 42px;
  font-weight: 600;
  font-size: 16px;
}
.btn-secondary {
  border: 1px solid #bcd0e5;
  color: #173a56;
}
.btn-primary {
  background: #02897a;
  color: #fff;
}
