/* ------------------- hero -------------------- */
.hero-container {
    padding: 0 18px;
    margin-bottom: 100px;
  }
  
  .hero-content {
    max-width: 375px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }
  
  .hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.66;
    color: #22343d;
    margin-bottom: 16px;
  }
  .hero-text {
    margin: 0 40px 16px 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: #22343d;
  }
  .hero-actions {
    display: flex;
  }
  .btn-secondary.play {
    background: none;
    width: 167px;
    display: flex;
    align-items: center;
    border: none;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    margin-left: auto;
  }
  .btn.mobile {
    width: 144px;
    margin-right: 29px;
  }
  .btn-play {
    border-radius: 1px;
    fill: #02897a;
    margin-right: 8.8px;
  }
  